# Compiled files (Bytecode)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
venv/
env/

# IDE and System Configurations
.vscode/
.idea/
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
